<div class="container ">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">
            <img src="../../../assets/img/instagram.png" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 60%;">

            <div *ngIf="mensajeError" class="alert alert-danger">
                {{mensajeError}}
            </div>

            <form [formGroup]="form" (ngSubmit)="changePassword()">

                <div class="form-group">
                    <input required class="form-control" type="password" placeholder="Contraseña" name="password" formControlName="password">
                </div>

                <div class="form-group">
                    <input required class="form-control" type="passwordConfirm" placeholder="Confirmar Contraseña" name="passwordConfirm">
                </div>

                <div class="form-group">
                    <button class="btn btn btn-outline-dark mt-4" type="submit">Cambiar</button>
                </div>
            </form>

        </div>
    </div>
</div>